<!-- <p>
  <mat-toolbar color="primary">
    <mat-icon>star</mat-icon>
    <span>Betsys Store</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="shopping-cart-icon" aria-label="Example icon-button with share icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <p class="items">{{numOfItems}}</p>
  </mat-toolbar>
</p> -->

<!-- <div 
  class="product-item"
  *ngFor="let product of products"
>
  <p>{{product.name}}</p><span>  {{product.price}}</span>
  <button
    (click)="remove.emit(product.id)"
    data-test="remove-button"
  >Remove from Collection</button>
</div> -->
